header{
  display: flex;
}

ul li{
  display: inline;
  margin: 10px;
}
a{
  margin-right: auto;
  text-decoration: none;
  color: #222;
}
nav{
  margin-left: auto;
}
body{
  background-color: aliceblue;
  width: 80%;
  margin: 20px auto;
}
.active{
  color: #002147;

  font-size: 18px;
}
section{
  display: flex;
}
h1, a.new{
  margin: 0;
  font-weight: normal;
}
h1{
  font-size: 20px;
  margin-right: auto;
}
a.new{
  font-size: 20px;
  margin-left: auto;
}
span{
  font-size: 24px;
  color: #18C7C9;
}
article{
  width: fit-content;
}
